.staffCard {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: fit-content;
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .info {
    position: absolute;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    color: #000;
    width: 300px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .name {
      font-weight: 700;
    }
  }
}
