.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;
  .featuresContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .benefitsContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .group {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .buttonsContainer {
        display: flex;
        gap: 10px;
      }
      .benefitsHead {
        h3 {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
      .benefitsList {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .benefit {
          h4 {
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }
    }
    .benefitImage {
      width: 70%;
      height: fit-content;
    }
  }
  .askDemo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: #171717;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
    .bgBlur {
      top: 0%;
      left: 0%;
      transform: translate(-20%, -50%);
      opacity: 0.6;
      position: absolute;
      pointer-events: none;
    }
    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .title {
        font-size: 2rem;
        font-weight: 700;
      }
      .description {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
    .image {
      width: 80%;
      max-width: 300px;
      height: fit-content;
      position: relative;
      z-index: 1;
    }
  }
}

@media (min-width: 768px) {
  .container {
    .askDemo {
      padding: 3rem 7rem;
      flex-direction: row;
      .group {
        .title {
          font-size: 3rem;
        }
      }
      .bgBlur {
        top: 50%;
        left: 50%;
        transform: translate(-20%, -60%);
      }
      .image {
        height: 300px;
        width: fit-content;
      }

      .group {
        align-items: flex-start;
        text-align: start;
        max-width: 500px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .container {
    .benefitsContainer {
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
      p {
        max-width: 550px;
      }

      .benefitImage {
        width: 40%;
        height: fit-content;
      }
    }
  }
}
